<app-event-label
  [name]="personList[0].name"
  [address]="personList[0].address"
  [telNo]="personList[0].telNo"
  [src]="personList[0].src"
  [count]="personList[0].count"
  [index]="0"
  (onClickCount)="handleClickCount($event)"
/>

<app-event-label
  [name]="personList[1].name"
  [address]="personList[1].address"
  [telNo]="personList[1].telNo"
  [src]="personList[1].src"
  [count]="personList[1].count"
  [index]="1"
  (onClickCount)="handleClickCount($event)"
/>

<app-event-label
  [name]="personList[2].name"
  [address]="personList[2].address"
  [telNo]="personList[2].telNo"
  [src]="personList[2].src"
  [count]="personList[2].count"
  [index]="2"
  (onClickCount)="handleClickCount($event)"
/>
