<h1>Single-Slot Content Projection</h1>
<app-singlecard>
  <div class="card-subject">This is some projected content!</div>
  <p>of multiple elements</p>
</app-singlecard>

<h1>Multi-Slot Content Projection</h1>
<app-multicard>
  <div class="header">
    <h3>This is header title</h3>
    <section>This is the header content</section>
    <hr />
  </div>
  <div class="body">This is the body content</div>
  <div class="footer">This is the footer content</div>
</app-multicard>

<h1>Conditional Content Projection</h1>
<app-conditionalcard>
  <div class="header">Header content</div>
  <!-- No body content passed -->
  <div class="footer">Footer content</div>
</app-conditionalcard>
